<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet">
       <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.0.0-beta/nv.d3.css" rel="stylesheet">
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap-responsive.min.css" rel="stylesheet">

       <script src="https://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script type="text/javascript">

        $(function() {
            $("a.btn-origins-toggle").click(function(event) {
                $(this).siblings("div.origins").toggleClass("hidden");
            })
        });

    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".navlist">


    <div class="container">

    <h1 id="title">{{title}}</h1>

    <div class="row">
        <div class="span4">
            <ul class="nav nav-list affix" style="width: 258px; border-radius: 6px; box-shadow: 0 1px 4px rgba(0, 0, 0, .065);">
                <li><a href="#title">Top</a></li>
		<a class="btn btn-mini btn-origins-toggle">origins</a>
		<div class="origins hidden" style="overflow-x: auto; width: 258px; border-radius: 6px; box-shadow: 0 1px 4px rgba(0, 0, 0, .065);">
		  <p><small>Generated by {{user}} on {{date}}.</small></p>
		  <p><small>Directory:<br><code>{{workdir}}</code></small></p>
		  <p><small>Command:<br><code>{{command}}</code></small></p>
		</div>
            </ul>
        </div>
        <div class="span8">
        <h2>Fred Hutchinson TableMaker!</h2>

	{{table}}
        <!-- <table class="table table-bordered table-striped table-condensed"> -->


        </section>

    </div>
    </div> <!-- /row -->
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.0.0-beta/nv.d3.min.js"></script>

    <!-- origins
    Built with csv2html.py which can be found in the 
    https://github.com/cswarth/werckertest repo.
    -->


  </body>
</html>

